body {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    height: 120%;


}

main {
    width: 100%;
    display: grid;
    grid-template-rows: [botr] 4.3em[oner] 4.3em[twor] 4.3em[threer] 4.3em[fourr] 4.3em[fiver] 4.3em[sixr] 4.3em[sevenr];
    grid-template-columns: [botc] 4.3em[onec] 4.3em[twoc] 4.3em[threec] 4.3em[fourc] 4.3em[fivec];
    font-family: Tahoma, sans-serif;
    color: #000000;
    background-color: #18ACA1;
    border-radius: 1em;
    border-color: #000000;
    border-style: double;
    border-width: 0.1em;



}

aside {
    background-color: #E3E496;
    grid-column-start: botc;
    grid-column-end: fivec;
    grid-row-start: botr;
    grid-row-end: twor;
    height: auto;
    display: grid;
    grid-template-rows: [botr] 4.3em[oner] 4.3em[twor] 4.3em[threer];
    grid-template-columns: [botc] 4.3em[onec] 4.3em[twoc] 4.3em[threec] 4.3em[fourc];
    border-radius: 1em;
    border-color: #000000;
    border-style: double;
    border-width: 0.1em;


}



input[type=text] {
    grid-column: span 4;
    background-color: #73746C;
    width: 100%;
    color: black;
    font-size: 150%;

}




input[title="c"] {
    border-radius: 2em;
    height: 2em;
    align-self: center;

}

input {
    border-radius: 1em;
    height: 70%;
    align-self: center;
    margin-left: 0.5em;
    margin-right: 0.5em;
    background-color: white;

}



input[value="+"] {
    grid-column-start: threec;
    grid-column-end: fourc;
    grid-row-start: fiver;
    grid-row-end: sevenr;
    height: 100%;

}